body{
    margin-left:25px!important; ;
    margin-right:25px!important; ;
}

.display-modal{
    display: none
}

.display-modal-preview{
    text-align: center;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

/*nav*/

.nav-fl{
    width: auto;
    overflow: hidden;
    background-color: #f5f5f5;
    opacity: 1;
}

li{
    text-decoration: none;
    display: inline;
}
.nav-btn{
    display: inline-block;
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 1em;
    margin-top: 9px;
    float: right;
    text-decoration: none!important;
    margin-left: 6px;
    border: 2px solid #800000;
    padding-top: 4px;
    color: black;
    text-transform: uppercase;
    font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    cursor:pointer;
}


.pane{
    background-color: #f5f5f5;
    margin-top: 95px;
    margin-bottom: 20px;
    margin-left: 100px;
    border: 1px solid #000000;
    border-radius: 4px;
    position: relative;
    left: 190px;
}
.pane-body{
    padding: 20px 75px 50px 75px;
}
.pane-default{
    border-color: #f5f5f5;
}
.pane-default>.pane-heading{
    text-align: center;
    color: #545445;
    line-height: 1px;
    margin-top: 45px;
    /*color: #ff8f00;*/
    /*background-color: w;*/
}

.hr-line{
    height: 1px;
    background: #800000;
    width: 50px;
    margin-top: 3px;
}
.title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
}

.button{
    padding: 10px 20px;
    background-color: #800000;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    color: #ffffff;
}

.button:hover{
    background: #ffb3b3;
}



/*modal tins*/
.play-modal{
    display: none
}

.modal-close{
    float: right;
    margin-top: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    /*    border: none;*/
    padding: 1px 5px;
    background-color: #800000;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
}

.modal-close:hover{
    background: #ffb3b3;
}


/*toggle*/

.switch {
    position: relative;
    width: 80px;
    height: 28px;
    margin-bottom: 24px;

}

/*Hide default checkbox*/

.switch input{
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: 4s;
    content:'male';

}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked +slider{
    background-color: indianred
}

input:focus +.slider{
    box-shadow: 0 0 1px #2196f3
}

input:checked +.slider:before{
    -webkit-transform:translateX(51px);
    -ms-transform: translateX(51px);
    transform: translateX(51px)
}

.slider.round{
    border-radius:28px;
}

.slider.round:before {

    border-radius:50%;
}


/*block bar*/

.test{
    margin-left: 300px;
    width: auto;
    height: 20px;
    border-bottom: 50px solid indianred;
    border-left: 70px solid transparent;


}

.test p{
    margin-left:-350px;
    font-size: 32px;
    margin-top: 20px;
    position: relative;
    bottom: -8px;
}
.test label{
    margin-top: -42px;
    margin-left: -230px;
}

.line {
    background-color: indianred;
    height: 2px;
    width: auto;
    margin-top: -2px;
    margin-bottom: 5px;

}


a{
    text-decoration: none!important;
    cursor: pointer;
}

.caption-fl {
    /*	padding: 2px 22 4px 2px;*/
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    background-color: white;
    width: 100%px;
    position: relativere;
    overflow-y: hidden;
    line-height: 0!important;
}

.glyph-elems{
    line-height: 0!important;
    margin-top: -42px;
    margin-bottom: 10px;
    margin-left: -20px;
    font-size: 22px;
    font-weight: 50;
    cursor: pointer;
    padding: 10px 6px 0px 2px;
}
.bag-elems{
    line-height: 0!important;
    margin-top: -42px;
    margin-bottom: 10px;
    margin-left: 2px;
    font-size: 22px;
    font-weight: 50;
    cursor: pointer;
    padding: 10px 6px 0px 2px;

}

.badge-elems{
    display: inline-block;
    min-width: 6px;
    padding: 3px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 6px;

    /*    line-height: 0!important;*/
    margin-top: -3px;
    margin-left: -19px;
}

.elems-txt {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    float: right;
    /*    margin-top: 8px;*/

}
.image-margin {
    margin-bottom: 5px;
    height: 255px;
    width: 198px;
}
.img{

    width: 180px;
    height: 240px!important;
    display: inline-block;
    padding-bottom: 53px;

}

.img:hover{
    border: 1px solid #777
}

.img img{
    width: 100%;
    height:100%;


}


/*Gallery*/


.segment-strip1{

    padding: 0.15em;
    background-color: coral;
    height: 74px;
    margin-top: 5px;
}


.segment-strip2{
    padding: 0.15em;
    background-color: #aeb231;
    height: 80px;
    margin-top: 5px;
}


.segment-strip3{
    padding: 0.15em;
    background-color: #e64876;
    height: 80px;
    margin-top: 5px;
}


.segment-strip4{
    padding: 0.15em;
    background-color: #69acbd;
    height: 80px;
    margin-top: 5px;
}


.segment-strip5{
    padding: 0.15em;
    background-color: #bd5c9d;
    height: 80px;
    margin-top: 5px;
}


.segment-strip6{

    padding: 0.15em;
    background-color: #e28b46;
    height: 80px;
    margin-top: 5px;
}


.segment-strip7 {

    padding: 0.15em;
    background-color: #c1445a;
    height: 80px;
    margin-top: 5px;
}

.segment-form{
    width: 98px;
    display: inline;
    border-radius: 0px;
    border-color: white;
}

